.dev-container{
    display: flex;
    font-size: large;
    border-radius: 10px;
    border: 2px solid black;
    width: 90vw;
    margin-top: 2vw;
    margin-left: 5vw;
    height: 30vh;
}

.addReview-button{
    width: 90px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(158, 157, 155);
    margin-right: 20px;
}

.addReview-button:hover{
    background-color: rgb(136, 136, 135);
    cursor: pointer;
}

.edit-dev-button, .delete-dev-button{
    width: 90px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(158, 157, 155);
    margin-right: 20px;
}

.edit-dev-button:hover, .delete-dev-button:hover{
    background-color: rgb(136, 136, 135);
    cursor: pointer;
}

.dev-button-container{
    display: flex;
    flex-direction: row;
}

