.dev-container{
    display: flex;
    font-size: large;
    border-radius: 10px;
    width: 90vw;
    margin-top: 2vw;
    margin-left: 5vw;
    height: 30vh;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(83, 139, 158, 0.858);
}

.skills-map {
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
}

.skills-map > div > div > div {
    border-radius: 10px;
}

.Dev-bio {
    overflow-y: scroll;
}

.dev-skills {
    align-self: self-start;
    margin-top: 0;
    width: 25vw;
    border-radius: 10px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 32vh;
    background-color: rgba(83, 139, 158, 0.858);
    font-size: larger;
}

.dev-skills-div > li {
    margin-left: 2vw;
}

.dev-skills-div {
    display: flex;
    flex-flow: column wrap;
    height: 25vh;
    width: fit-content;
    justify-content: flex-start;
}

.dev-details {
    display: flex;
    flex-direction: column;
    height: 25vh;
}

.dev-icon {
    border: 2px solid black;
    width: 2vw;
    height: 3vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
}

.addReview-button{
    width: 90px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(15, 116, 54);
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

.addReview-button:hover{
    background-color: rgb(136, 136, 135);
    cursor: pointer;
}

.edit-dev-button{
    width: 90px;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(26, 83, 175, 0.863);
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.delete-dev-button{
    width: 90px;
    height: 30px;
    border-radius: 20px;
    background-color: tomato;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.edit-dev-button:hover, .delete-dev-button:hover{
    background-color: rgb(136, 136, 135);
    cursor: pointer;
}

.dev-button-container{
    display: flex;
    flex-direction: row;
}

.Dev-list > div{
  display: flex;
  flex-wrap: wrap;
}

.Dev-list-single{
  box-sizing: border-box;
  /* border: 1px solid red;
  background-color: cornflowerblue; */
  list-style: none;
  flex: 0 0 33.333333%;
  padding-left: 10px;
  height: 20vh;
}

.inner-single-dev {
  margin: 10px;
  border: 1px solid black;
  padding: 5px;
  height: 15vh;
}

.inner-single-dev:hover {
  border: 1px solid white;
}

.inner-single-dev > div {
  display: flex;
}

.inner-single-dev > div > a {
  margin-left: 15px;
  text-decoration: none;
  font-size: x-large;
  font-weight: 600;
  color: lightcoral;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

.inner-single-dev > div > a:hover {
  color: white;
}

.developers-title {
  text-align: center;
}

::-webkit-scrollbar{
    width: 0;
}
