.dev-container{
    display: flex;
    font-size: large;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    width: 90vw;
    margin-top: 2vw;
    margin-left: 5vw;
    height: 30vh;
    justify-content: space-between;
    align-items: center;
}

.skills-map {
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
}

.skills-map > div > div > div {
    border-radius: 10px;
}

.dev-skills {
    align-self: self-start;
    margin-top: 0;
    width: 25vw;
    border-radius: 10px;
    border: 2px solid black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 32vh;
  }

.dev-skills-div > li {
    margin-left: 2vw;
}

.dev-skills-div {
    display: flex;
    flex-flow: column wrap;
    height: 25vh;
    width: fit-content;
    justify-content: start;
}

.dev-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
}

.dev-icon {
    border: 2px solid black;
    width: 2vw;
    height: 4vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
}

.addReview-button{
    width: 90px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(158, 157, 155);
    margin-right: 20px;
}

.addReview-button:hover{
    background-color: rgb(136, 136, 135);
    cursor: pointer;
}

.edit-dev-button, .delete-dev-button{
    width: 90px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(158, 157, 155);
    margin-right: 20px;
}

.edit-dev-button:hover, .delete-dev-button:hover{
    background-color: rgb(136, 136, 135);
    cursor: pointer;
}

.dev-button-container{
    display: flex;
    flex-direction: row;
}
