.review-li {
    font-size: large;
}

body {
    margin: 0px;
}

.outer-style-div {
    height: 15vw;
    display: flex;
    justify-content: center;
}

.review {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(16, 42, 93);
    align-items: flex-start;
    justify-content: center;
    width: 60%;
    height: 100%;
    background: #2e65be;
    overflow-wrap: break-word;
}

.edit, .delete{
    margin-top: 10px;
    width: 60px;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(158, 157, 155);
    margin-right: 20px;
}

.edit:hover, .delete:hover{
    background-color: rgb(136, 136, 135);
    cursor: pointer;
}

.review-textarea{
    width: 20vw;
    height: 20vh;
}